<div class="container">
 <div class="paneles">
    <div class="panel panel-info">
        <div class="panel-heading">
                  <h3 class="panel-title">Administrar productos</h3>
        </div>
        <div class="panel-body">
            <p id="notice"><%= notice %></p>

            <table id="product_lists" class="display">
              <thead>
                <tr>
                  <th>Descripcion</th>
                  <th>Precio</th>
                  <th>Accion</th>
                </tr>
              </thead>

              <tbody>
                <% @products.each do |product| %>
                  <tr>
                    <td><%= product.description %></td>
                    <td><%= product.price %></td>
                    <td>
                    <%= link_to 'Editar', edit_product_path(product),class: "btn btn-primary" %>
                    <%= link_to 'Eliminar', product, method: :delete,class: "btn btn-danger", data: { confirm: 'Esta seguro que desea eliminar?' } %></td>
                  </tr>
                <% end %>
              </tbody>
            </table>

            <br>

            <%= link_to 'Agregar Producto', new_product_path, class: 'btn btn-info' %>
        </div>
        </div>
  </div>
</div>


