<!DOCTYPE html>
<html>
<head>
  <title>LEDA Distribuidora</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class="navbar navbar-inverse navbar-fixed-top">
	  <div class="container">
	    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
	      <span class="icon-bar"></span>
	      <span class="icon-bar"></span>
	      <span class="icon-bar"></span>
	    </button>
	    <a class="navbar-brand" href="/"> <%= image_tag "leda.JPG", :alt => "LEDA Distribuidora", :title => "LEDA Distribuidora", :class =>"logotipo" %></a>
	    <div class="navbar-collapse collapse navbar-responsive-collapse">
	      <ul class="nav navbar-nav navbar-right">
	        <li><%= link_to "Inicio", root_path  %></li>
			<li><%= link_to "Productos", "/products"  %></li>>
	        <li><%= link_to "Pedidos", "#"  %></li>
	        <li><%= link_to "Facturas", "#"  %></li>
	        <li><%= link_to "Clientes", "#"  %></li>
	        <li><%= link_to "Cerrar sesion", destroy_user_session_path, method: :delete %></li>
	      </ul>
	    </div>
	  </div>
	</div>
	<div class="contenedor-principal">
		<%= yield %>
	</div>
	<footer>
        <p><h5 class="text-center" color"white">&copy; 2016 LEDA Distribuidora. Desarrollado por Nicolas Malcorra.</h5></p>  
    </footer>

</body>
</html>
